.idea/misc.xml
mail.iml
.idea/artifacts/mail_war.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/modules.xml
.idea/artifacts/mail_war_exploded.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/workspace.xml
target